version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    # Remove the 'ports' section if you only want to use the domain
    restart: always
    networks:
      - web-network

networks:
  web-network:
    driver: bridge
  dokploy-network: # Define it as an external network
    external: true