version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
    networks:
      - web-network

networks:
  web-network:
    driver: bridge
